/* this code is for snmall screen for naviagtion bar ----------------------- */
@media (min-width: 200px) and (max-width: 541px) {
  .nav__list {
    padding-left: 0;
    display: grid;
  }
  .nav__list-item {
    margin: 4%;
    /* font-size: x-large; */
  }
  .nav__content {
    font-size: calc(2vw + 10px);
  }
}

/* this code is for about section in landing page ---------------------------- */
@media (min-width: 950px) and (max-width: 2000px) {
  #about-section img {
    /* width: auto; */
    /* height: 40vh; */
    float: right;
    margin: 0 0 0 5%;
  }
}
