/* this code is for whole html page ----------------------------------------------------------------- */
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}
a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #2e383f;
}
p {
  font-family: "Poppins", sans-serif;
  color: #2e383f;
  font-weight: 500;
}

/* this code is for whole navigation bar ------------------------------------------------- */
.menu-icon {
  height: 15px;
  width: 30px;
  /* position: fixed; */
  position: absolute;
  z-index: 2;
  left: 50px;
  top: 30px;
  cursor: pointer;
}
.menu-icon__line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #11698e;
  margin-bottom: 4px;
  transition: transform 0.2s ease, background-color 0.5s ease;
}
.menu-icon__line-left {
  width: 15px;
}
.menu-icon__line-right {
  width: 15px;
  float: right;
}

.nav {
  position: fixed;
  z-index: 1;
}
.nav:before,
.nav:after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #f8f3cf;
  z-index: -1;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transform: translateX(0%) translateY(-100%);
}
.nav:after {
  background: #ffee93;
  transition-delay: 0s;
}
.nav:before {
  transition-delay: 0.1s;
}
.nav__content {
  position: fixed;
  top: 50%;
  transform: translate(0%, -50%);
  width: 100%;
  text-align: center;
  font-size: calc(1.7vw + 10px);
  font-weight: 200;
  cursor: pointer;
}
.nav__list {
  padding: 0;
}
.nav__list-item {
  position: relative;
  display: inline-block;
  transition-delay: 0.8s;
  opacity: 0;
  transform: translate(0%, 100%);
  transition: opacity 0.2s ease, transform 0.3s ease;
  /* margin-right: 25px; */
  margin: 1%;
}
.nav__list-item:before {
  content: "";
  position: absolute;
  background: #2e383f;
  width: 10px;
  height: 2px;
  top: 100%;
  transform: translate(0%, 0%);
  transition: all 0.3s ease;
  z-index: -1;
}
.nav__list-item:hover:before {
  width: 100%;
}

body.nav-active .menu-icon__line {
  background-color: #2e383f;
  transform: translateX(0px) rotate(-45deg);
}
body.nav-active .menu-icon__line-left {
  transform: translateX(1px) rotate(45deg);
}
body.nav-active .menu-icon__line-right {
  transform: translateX(-2px) rotate(45deg);
}
body.nav-active .nav {
  visibility: visible;
}
body.nav-active .nav:before,
body.nav-active .nav:after {
  transform: translateX(0%) translateY(0%);
}
body.nav-active .nav:after {
  transition-delay: 0.1s;
}
body.nav-active .nav:before {
  transition-delay: 0s;
}
body.nav-active .nav__list-item {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
}
body.nav-active .nav__list-item:nth-child(0) {
  transition-delay: 0.5s;
}
body.nav-active .nav__list-item:nth-child(1) {
  transition-delay: 0.6s;
}
body.nav-active .nav__list-item:nth-child(2) {
  transition-delay: 0.7s;
}
body.nav-active .nav__list-item:nth-child(3) {
  transition-delay: 0.8s;
}
body.nav-active .nav__list-item:nth-child(4) {
  transition-delay: 0.9s;
}
body.nav-active .nav__list-item:nth-child(5) {
  transition-delay: 1s;
}
body.nav-active .nav__list-item:nth-child(6) {
  transition-delay: 1.1s;
}
/* this code is for hidden nav content when menu is off and show nav content when menu button is on */
.nav__content {
  visibility: hidden;
}
body.nav-active .nav__content {
  visibility: visible;
}
/* this code is for when menu btn on then menu btn fixed at position */
body.nav-active .menu-icon {
  position: fixed;
}
/* this code is for snmall screen for naviagtion bar */
@media (min-width: 200px) and (max-width: 541px) {
  .nav__list {
    padding-left: 0;
    display: grid;
  }
  .nav__list-item {
    margin: 4%;
    /* font-size: x-large; */
  }
  .nav__content {
    font-size: calc(2vw + 10px);
  }
}

/* this code is for logo in landing page --------------------------------------------------- */
.logo {
  text-align: right;
  /* padding-top: 4px; */
}
.logo h2 {
  margin: 20px 0 0 0;
  display: inline-block;
  color: #11698e;
  /* font-size: x-large; */
  /* padding-right: 5%; */
  margin-right: 30px;
  /* font-weight: 600; */
}

/* this code is for all content in landing page ------------------------------------------------------------ */
.content-in-landing-page {
  /* padding-top: 8%; */
  text-align: center;
  color: #ffffff;
  padding: 4%;
  margin-top: 10%;
}
/* this code is for typing word */
.hand {
  font-size: xx-large;
  margin: 20px 0 20px 0;
}
.typewrite {
  color: #11698e;
  text-decoration: none;
  font-size: xx-large;
  margin: 20px 0 20px 0;
}
/* this code is for button in landing page */
/* body {
  font-family: "Lato", sans-serif;
  color: #111;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #ECECEC;
} */

/* .container {
  width: auto;
  display: flex;
  flex-direction: column;
} */

.btn {
  margin: 20px auto;
  border: none;
  padding: 10px 44px;
  font-size: 20px;
  position: relative;
}
.btn::before {
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: "";
  width: 50%;
  height: 100%;
  /* background: black; */
  position: absolute;
  top: 0;
  left: 0;
}
/* .btn .btn-text {
  color: white;
  mix-blend-mode: difference;
} */
/* .btn:hover::before {
  background: black;
  width: 100%;
} */
.btn.rounded {
  border-radius: 50px;
}
.btn.rounded .text-green {
  color: #2e383f;
  mix-blend-mode: difference;
}
.btn.rounded::before {
  border-radius: 50px;
  width: 25%;
  background: #11698e;
}
.btn.rounded:hover::before {
  background: #11698e;
  width: 100%;
}

/* this code is for whole about section ---------------------------------------------------------------------------- */
#about-section {
  padding: 4%;
  text-align: center;
  margin-top: 10%;
}
.about-headline {
  text-align: left;
  color: #11698e;
}
.avatar img {
  margin-top: 10%;
  width: auto;
  height: 40vh;
}
.bio {
  text-align: left;
  margin-top: 10%;
}

/* this code is for whole projects section ------------------------------------------------------------------------------- */
#projects-section {
  padding: 4%;
  margin-top: 10%;
  text-align: right;
}
#projects-section .button {
  margin: 0;
}

/* this code is for skill section ----------------------------------------------------------------------------------- */
#skills-section {
  padding: 4%;
  margin-top: 10%;
  text-align: center;
}
/* p { 
  font-size: 20px; 
}  */
.skills-name {
  text-align: left;
}
.container {
  background-color: rgb(228, 226, 226);
  /* width: 50%;  */
  border-radius: 10px;
  /* height: 20px; */
}
.skill {
  background-color: #11698e;
  color: #ffffff;
  /* padding: 1px;  */
  text-align: right;
  font-size: 12px;
  border-radius: 10px;
  /* height: 20px; */
}
.graph {
  margin-top: 10%;
}

.python {
  width: 60%;
}
.css {
  width: 80%;
}
.javascript {
  width: 50%;
}
.cpp {
  width: 70%;
}
.html {
  width: 80%;
}

/* this code is for blog section ------------------------------------------------------------------------------------- */
#blogs-section {
  padding: 4%;
  text-align: left;
  margin-top: 10%;
}
.blogs-content {
  margin-top: 10%;
  color: #2e383f;
}

/* this code is for whole contact page ---------------------------------------------------------------------------------------- */
#contact-section {
  padding: 4%;
  margin-top: 10%;
  /* text-align: center; */
}
.contact-content {
  margin-top: 10%;
}
/* this code is for social sections ------------------------------------------------------------------------------------------ */
#social-section {
  padding: 4%;
  text-align: center;
}
.icons a {
  color: #2e383f;
  font-size: x-large;
  margin: 1%;
}
.icons a:hover {
  color: #11698e;
}
