/* this code is for whole html page ------------------------------------------- */
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}
a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #2e383f;
}
p,ul {
  font-family: "Poppins", sans-serif;
}
h1,
h3,
h4,
h5,
h6 {
  color: #2e383f;
  font-family: "Poppins", sans-serif;
}

/* this code is for whole navigation bar ------------------------------------------ */
.navbar {
  font-size: 18px;
  background-color: #dd7d95;
  padding-bottom: 10px;
}
.main-nav {
  list-style-type: none;
  display: none;
}
.nav-links,.logo{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
.main-nav li {
  text-align: center;
  margin: 15px auto;
}
.logo {
  display: inline-block;
  /* font-size: 22px; */
  margin-bottom: 0;
  margin-top: 10px;
  margin-left: 20px;
}
.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}
.active {
  display: block;
  padding: 0;
}
.nav-links:hover {
  border-bottom: 2px solid white;
  transition-delay: 0.1s;
}
/* this code is for all content in landing page ---------------------------------------------- */
#landing-page {
  text-align: center;
  padding: 4%;
  text-align: left;
  margin-top: 10%;
}
/* this code is for button in landing page */
.btn {
  /* margin: 20px auto; */
  border: none;
  padding: 10px 44px;
  font-size: 20px;
  position: relative;
}
.btn::before {
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: "";
  width: 50%;
  height: 100%;
  /* background: black; */
  position: absolute;
  top: 0;
  left: 0;
}
/* .btn .btn-text {
  color: white;
  mix-blend-mode: difference;
} */
/* .btn:hover::before {
  background: black;
  width: 100%;
} */
.btn.rounded {
  border-radius: 50px;
  background-color: rgb(228, 226, 226);
}
.btn.rounded .text-green {
  color: #595959;
  /* color: #2e383f; */
  mix-blend-mode: difference;
}
.btn.rounded::before {
  border-radius: 50px;
  width: 43px;
  /* width: 25%; */
  background:#dd7d95;
}
.btn.rounded:hover::before {
  background: #dd7d95;
  width: 100%;
}

/* this code is for whole about section ------------------------------------------------------- */
#about-section {
  padding: 4%;
  margin-top: 10%;
  text-align: center;
}
.about-headline {
  text-align: left;
  color: #2e383f;
}
#about-section img {
  margin-top: 10%;
  width: auto;
  height: 40vh;
}
.bio {
  text-align: left;
  margin-top: 10%;
  color: rgb(129, 129, 129);
}

/* this code is for whole projects section --------------------------------------------------------- */
#projects-section {
  padding: 4%;
  margin-top: 10%;
}
#projects-section .button {
  margin: 0;
}

/* this code is for skill section ------------------------------------------------------------------- */
#skills-section {
  padding: 4%;
  margin-top: 10%;
}
.skills-name {
  text-align: right;
}
.container {
  background-color: rgb(228, 226, 226);
  /* width: 50%;  */
  border-radius: 10px;
  /* height: 20px; */
}
.skill {
  background-color:#dd7d95;
  color: #ffffff;
  /* padding: 1px;  */
  text-align: right;
  font-size: 12px;
  border-radius: 10px;
  /* height: 20px; */
}
.graph {
  margin-top: 10%;
}
.python {
  width: 60%;
}
.javascript {
  width: 50%;
}
.cpp {
  width: 70%;
}
.web-development {
  width: 80%;
}
.java {
  width: 50%;
}
.GraphicDesign {
  width: 80%;
}

/* this code is for certificates section ----------------------------------------------------- */
#certificate-section {
  padding: 4%;
  margin-top: 10%;
}
.certificate-content {
  background-color: #f3f3f3;
  padding: 10px;
  box-shadow: 0px 5px 15px -7px;
}

/* this code is for blog section ---------------------------------------------------------------- */
#blogs-section {
  padding: 4%;
  margin-top: 10%;
}

/* this code is for article section ----------------------------------------------------------- */
#article-section {
  padding: 4%;
  margin-top: 10%;
}

/* this code is for whole contact page ------------------------------------------------------------ */
#contact-section {
  padding: 4%;
  margin-top: 10%;
}
.contact-content {
  margin-top: 10%;
}

/* this code is for social sections ---------------------------------------------------------------- */
#social-section {
  padding: 4%;
  text-align: center;
}
.icons a {
  color: #2e383f;
  font-size: x-large;
  margin: 1%;
}
.icons a:hover {
  color: #dd7d95;
}
